/* google fond used for hero text */
@import url('https://fonts.googleapis.com/css?family=Arvo');

.hero-text{
    font-family: 'Arvo', Georgia, "Times New Roman", serif;
    font-size: 3rem;
}

footer { 
    margin-top: 5rem;
}

.container{
   margin-top: 7rem;
   margin-bottom: 2rem; 
}

.main-page-content{
    text-align: left;
}

.navbar {
    border-radius: 0;
    border: none;
    background-color: #080808;
}

.carousel {
    margin-bottom: 3rem;
}
